@import "tailwindcss";

:root {
  --white-hsl: 32.73, 18.97%, 77.25%;
  --background: hsla(var(--white-hsl), 1);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* currently using the same color even in dark mode */
    --background: hsla(var(--white-hsl), 1);
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}
